.main {
	font-family: "SuisseIntl";
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	padding: 0 20px 20px 20px;
	width: 100%;
	height: 100%;
	background-color: var(--orange);
	animation: loading_page 2s forwards;

	> :first-child {
		padding-bottom: 10px;
		font-size: 24px;
	}

	> :last-child {
		display: flex;

		span {
			font-size: 340px;
			line-height: 250px;
			margin-left: -20px;
		}
	}

	@keyframes loading_page {
		0% {
			transform: translate(0, 0);
		}
		100% {
			transform: translate(0, -100%);
		}
	}
}
